<div id="media">
  <h1>I assist emerging brands create their identity through digital media.</h1>

    <div class="row">
      <% @entries.each do |entry| %>
        <div class="col-sm-6 entry-grid">
          <%= link_to entry do %>
            <% if entry.avatar? %>
              <%= image_tag(entry.avatar.url) %>
            <% else %>
              <%= image_tag("exampleshot.png") %>
            <% end %>
            <h2><%= entry.title %></h2>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
