<div id="home">
  <h1 class="text-center">Hi there.</h1>
  <div class="row text-center">
    <div class="col-md-6">
      <h2><%= link_to 'Digital Media', entries_media_path %></h2>
    </div>
    <div class="col-md-6">
      <h2><%= link_to 'Rails Development', entries_dev_path %></h2>
    </div>
  </div>
</div>
