<div id="home">
  <h3>Hi, I'm Ching.</h3>
  <h1>I create digital experiences that tell concise stories.<br/><br/></h1>
  <h3><%= link_to 'See my Digital Media.', entries_media_path %></h3>
  <h3><%= link_to 'See my Web Applications.', entries_dev_path %></h3>
</div>
  <% if current_user && current_user.admin? %>
    <p class="small">
      Hello Ching.<br/>
      <%= link_to 'New Entry', new_entry_path %>
      <%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>
    </p>
  <% end %>
</div>
