@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,700italic);
@import "static.scss";
@import "entries.scss";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
  min-height: 100%;
  position: relative;
}
#header {
  padding: 10px;
}
#body {
  padding: 10px;
  padding-bottom: 50px; // Height of footer
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: inherit;
}

body {
  background-color: rgba(250,250,250,1);
}
.page-bg {
  padding-top: 10vh;
}
@media (max-width:767px) {

}
@media (min-width: 768px) {
  .page-bg {
    padding: 15vh 20vh 2vh 20vh;
  }
}

// FONTS
p {
  font-family: 'Playfair Display';
  font-weight: 700;
  letter-spacing: .02em;
}
a {
  color: #555;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #FF69B4;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
@media (min-width:768px) {

}
@media (min-width:992px) {
  h1 {
    font-size: 5em;
  }
  p {
    font-size: 1.4em;
    line-height: 1.8em;
  }
}
@media (min-width: 1200px) {

}

// NAV BAR
nav {
  width: 100%;
  padding: 10px;
  img {
    display: block;
    margin: 10px auto;
    width: 250px;
  }
  .btn-group {
    position: fixed;
    right: 5vw;
    top: 1vh;
    .btn-nav {
      border: none;
      background-color: transparent;
    }
    .dropdown-menu {
      width: 100%;
      height: 100%;
    }
  }
}
.navbar-default {
  background-color: rgba(250,250,250,0.95);
  border: none;
  radius: 0;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
