#dev, #media {
  .head-text {
    margin-bottom: 5vh;
  }


    @media screen and (max-width: 991px) {
      .entry-grid {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        img {
          max-width: 100%;
        }
        padding-top: 5vh;
        span.text-content {
          margin-top: -15px;
          display: block;
        }
        span.text-content span {
          font-size: 16px;
          display: block;
        }
      }
    }

    @media screen and (min-width: 992px) {
      .entry-index {
        padding: 10vh;
      }
      .entry-grid {
        img {
          max-height:100%;
        }
        height: 250px;
        padding-top: 25px;
        span.text-content {
          background: rgba(255,105,180,0.8);
          color: white;
          cursor: pointer;
          display: table;
          height: 200px;
          left: 5%;
          position:absolute;
          bottom:10%;
          width: 70%;
          opacity: 0;
        }
        span.text-content span {
          display: table-cell;
          text-align: left;
          vertical-align: bottom;
        }
        span.text-content:hover {
          opacity: 1;
        }
      }
    }


}

#entry-show {
  .title {
    font-family: 'Playfair Display';
    font-weight: 700;
    letter-spacing: .02em;
    margin-bottom: -10px;
  }
  .carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: #transparent!important;
  }

  .carousel-control:hover,
  .carousel-control:focus,
  .carousel-control:active,
  .carousel-control .active {
    color: #FF69B4;
  }
  .tagline {
    font-size: 4em;
  }
  .header-shot {
    padding-top: 8vh;
    padding-bottom: 5vh;
    img {
      padding: 0;
      width: 100%;
    }
  }
  .entry-body {
    padding: 20vh;
    img {
      display: block;
      margin: 5vh auto;
      width: 90%;
    }
  }
  @media screen and (max-width:767px) {
    .title {
      font-size: 18px;
    }
    .entry-body {
      padding: 10vh 1vh;
    }
    .tagline {
      font-size: 30px;
    }
  }
  @media screen and (min-width: 992px) {
    padding: 0 15vh;
  }
}


.bottom-nav {
  margin-bottom: 10%;
}
