#dev, #media {
  padding-top: 10vh;
}

#entry-show {
  .header-shot {
    img {
      padding: 5vh 0;
      width: 100%;
    }
  }
  .sec-shot {
    img {
      padding: 5vh 0;
      width: 100%;
    }
  }
}
