#dev, #media {
  padding-top: 5vh;
  .head-text {
    margin-bottom: 5vh;
  }
  .entry-grid {
    padding-top: 5vh;
    img {
      height: 200px;
    }
    @media (min-width: 768px) {
      span.text-content {
        background: rgba(255,105,180,0.8);
        color: white;
        cursor: pointer;
        display: table;
        height: 200px;
        left: 5%;
        position:absolute;
        bottom:10%;
        width: 70%;
        opacity: 0;
      }
      span.text-content span {
        display: table-cell;
        text-align: left;
        vertical-align: bottom;
      }
      span.text-content:hover {
        opacity: 1;
      }
    }
  }
}

#entry-show {
  .header-shot {
    img {
      padding: 5vh 0;
      width: 100%;
    }
  }
  .sec-shot {
    img {
      padding: 5vh 0;
      width: 100%;
    }
  }
}

.bottom-nav {
  margin-bottom: 10%;
}
