#hero {
  height: 100vh;
  padding-top: 45vh;
  background-image: url("hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
  .btn-head {
    display: block;
    margin: 0 auto;
  }

  // Big
  @media screen and (min-width:768px) {
    .btn-head {
      margin-top: 100px;
    }
  }

  // Mobile
  @media screen and (max-width:767px) {
    background-image: url("mobile-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    .btn-head {
      margin-top: 150px;
    }
    img {
      max-width: 250px;
    }
  }

  // Mobile Landscape
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : landscape) {
    background-image: url("hero.png");
    padding-top: 30vh;
    .btn-head {
      margin-top: 30px;
    }
  }

  // Tablet Portrait
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    background-image: url("mobile-hero.png");
  }

}


#about, #contact {
  // Big
  @media screen and (min-width:768px) {
    padding: 0 40vh;
    h1 {
      margin-bottom: 5vh;
    }
  }

  // Mobile
  @media screen and (max-width:767px) {
    padding: 5vh 1vh;
    h1 {
      text-align: center;
    }
  }
}

#about {
  // Big
  @media screen and (min-width:768px) {
    padding: 25vh 45vw 25vh 15vw;
    background-image: url("contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    img {
      display: block;
      margin-top: 5vh;
      width: 50px;
    }
  }

  // Mobile
  @media screen and (max-width:767px) {
    padding: 15vh 1vh;
    background-color: #8d799a;
    img {
      display: block;
      margin: 2vh auto;
      width: 25px;
    }
  }

  // Mobile Portrait
  @media only screen
  and (min-device-width : 375px)
  and (max-device-width : 667px)
  and (orientation : portrait) {
    background-image: url("contact-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
  }

  // Tablet Portrait
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    background-image: url("contact-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
  }

}

#contact {
  min-height: 100vh;
  // Big
  @media screen and (min-width:768px) {
    padding-top: 10vh;
  }

  // Mobile
  @media screen and (max-width:767px) {
    h1 {
      margin-bottom: 5vh;
    }
    .btn {
      display: block;
      margin: auto;
    }
  }

  // Tablet Portrait
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    padding: 10vh 10vw;
  }
}

  // min-width: 100vw;
  // height: 100vh;
  // margin-left: 0;
  // margin-right: 0;
  // background: url("hero.png");
  // background-repeat: no-repeat;
  // background-size: 150%;
  // background-position: top center;
  // color: #fff;
